.chat-icon {
  position: fixed;
  bottom: 40px;
  right: 15px;
  z-index: 500;
  background-color: aliceblue;
  border-radius: 31px;
}
.chat-icon a img:hover {
  opacity: 0.6;
  transition: all 0.9s ease;
}

nav a img{
  width: 129px;
  height: 51px;
}